@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("1254013.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(255, 255, 255, .02); 
    backdrop-filter: blur(5px);   
    width: 300px;
    border-radius: 8px;
}
h1{
    text-align: center;
    font-weight:bold;
    padding-bottom:10px;
    border-bottom: 1px solid rgb(23, 27, 49);
    color: rgb(23, 27, 49);
}
form{
    padding: 0px 40px;
}
.usernameandpassword1{
    position: relative;
    border-bottom: 2px solid rgb(23, 27, 49) ;
    margin: 30px 0px;
    color: rgb(23, 27, 49);
}
.usernameandpassword2{
    position: relative;
    border-bottom: 2px solid rgb(23, 27, 49) ;
    margin-bottom: 15px;
}

.usernameandpassword1 input{
    border: none;
    background: none;
    width: 100%;
    height: 30px;
    outline: none;
}
.usernameandpassword2 input{
    border: none;
    background: none;
    width: 100%;
    height: 30px;
    outline: none;
}
.usernameandpassword1 input:focus ~ label,
.usernameandpassword1 input:valid~ label{
    top: -5px;
    color:rgb(23, 27, 49);
    font-weight: bolder;
}
.usernameandpassword2 input:focus ~ label,
.usernameandpassword2 input:valid~ label{
    top: -5px;
    color:rgb(10, 15, 44);
    font-weight: bolder;
}

label{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    font-weight: bolder;
    /* color: gray; */
}
.forgetpassword{
    /* color: gray; */
    font: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}
.forgetpassword:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid;
    background: rgb(23, 27, 49);
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: rgb(23, 27, 49);
    transition: .10s;
}
.design{
    font-weight: bolder;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
}